<div class="row">
    <div class="col-12 text-center my-4">
        <h2>Login</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 mt-3">
        <form id="form-login">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button id="btn-login" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div id="popup" class="alert alert-success w-25 fixed-bottom ml-3" role="alert">
</div>
<script>
    $('#popup').hide();


    let logged = getCookie('token-SOA')
    if (logged) {
        location.pathname = '/home'
    }
    $(document).ready(() => {
        $('#btn-login').click((e) => {
            e.preventDefault();
            const object = {
                "username": $("input[name='username']").val(),
                "password": $("input[name='password']").val()
            }
            fetch('http://localhost:8080/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(object)
            })
                .then(res => res.json())
                .then(result => {
                    if (result.code === 2) {
                        setCookie('token-SOA', result.token, 1);
                        location.pathname = '/home';
                    } else if (result.code == 4) {
                        showPopup(result.msg)
                    }
                })
                .catch(e => console.error(e))
        });
    });

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        const expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        const name = cname + "=";
        const decodedCookie = decodeURIComponent(document.cookie);
        const ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function showPopup(msg, flag) {
        if (!flag) {
            $('#popup').removeClass('alert-success');
            $('#popup').addClass('alert-danger');
        } else {
            $('#popup').removeClass('alert-danger');
            $('#popup').addClass('alert-success');
        }
        $('#popup').html(msg);
        $('#popup').show();
        setTimeout(() => {
            $('#popup').hide(1000);
        }, 3000);
    }
</script>